[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
heroku3 = "*"
requests = "*"
spotipy = "*"
matplotlib = "*"
gunicorn = "*"
seaborn = "*"
lyricsgenius = "*"
pip = "*"
plotly = "*"
jinja2 = "*"
sklearn = "*"
azapi = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
