<html>
    <head>
        <Title> Spotipy Model Implementation </Title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/w3.css') }}">
    </head>
    <body>
        <header>
            <a href="{{url_for('homepage')}}"> Search </a> | <a href="{{url_for('about')}}">About</a> | <a href="{{url_for('models')}}">Models</a>
        </header>

{% block content %}
{% endblock %}

<footer>
    <center>All contents of this application are copyrighted by their respective owner and the intention of this application is to learn about music, not rip off others' works.<br>
    So, please refrain from transforming and reproducing information from this application without going through the proper channels with the data providers.<br>
    In the same spirit, if there is any issue with the data or presentation of this application, please reach out!
    </center>
</footer>

</html>