{% extends 'base.html' %}
{% block content %}

<center>
<p>
<h1>Hello! <br>
Unfortunately, you have run into an application error trying to access that song.</h1>
<br>
<h2 style="color:white"> Most of the time, you receive the error text because one of the API requests does not return a result.<br>
The combination of APIs used in this application can lead to validation errors like this. <br>
Please try this song again at a different time or check out another track!

</h2>

</p>
</center>

{% endblock %}