{% extends 'base.html' %}
{% block content %}

<center>
<h1>Sentiment analysis of {{song}} by {{singer}}</h1>
<h3></h3>
<div class='flex-container'>

    <div class='flex-child-left'>
        <center>
            <h3>Lyrics:</h3>
            <p style="font-weight: bolder;">These lyrics are sourced via the Genius API found <a href= "https://docs.genius.com/">here.</a> <br>
            Full credit for these lyrics goes to the Genius team, click here to visit their <a href="https://genius.com">page here.</a><br>
            </p>
            <div id='lyrics'>
            {% for chunk in lyrics %}
                {{chunk}}<br>
            {% endfor %}
            </div>
        </center>
        <br>
    </div>
    <br>
            <div class='flex-container-nested'>
                <div class='flex-child-right', id="vader">
                    
                    <h2>VADER Sentiment Analysis Results</h2>
                        <p style='align-content: center;'>VADER classifies documents on compound scale of -1 (very negative) to 1 (very positive).
                        A higher "neg" or "pos" rating plays into the compound score and tells you the polarity of the words in the song. 
                        For more information check out the documentation by clicking <a href='https://pypi.org/project/vaderSentiment/'>here</a>,</p>
                            <h3>VADER Outputs</h3>
                    <table style='padding-right: 12%;'>
                    {% for key,value in vader_score.items() %}
                        <tr>
                            <th>{{key}}:</th>
                            <td> {{value}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <br>
                    <table>
                    <tr>
                        <td>Toggle Positive Words</td>
                        <td>Toggle Negative Words</td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label class="switch">
                                <input type="checkbox", id='postoggle'>
                                <div class="sliderpos"></div>
                            </label>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox", id='negtoggle'>
                                <div class="sliderneg"></div>
                            </label>
                        </td>
                    </tr>
                    </table>

                        </div>
                        <br>
                    <div class='flex-child-right', id="models">
                        <table>
                        <tr>
                            <h2>Predictive Model Genre Classifications</h2>
                        </tr>
                        <tr>
                            To see the effect of various components (lyrics and song attributes) on song genre classification,
                            I built two models to classify a song. Given the list of genres Spotify tags this song with, this information
                            provides an interesting glance into how the song reads and feels. Many genres today are a combination of two larger genres
                            and my hope is that this heuristic model gives you a feel for what "pop rap" really means in terms of characteristics and content. 
                            For more information, check out the models tab.
                        </tr>
                        <tr>
                            <h3>Classifier Model Outputs</h3>
                        </tr>
                        <tr> 
                            <th> Lyric Model: </th> <td>{{prediction}}</td>
                        </tr>
                        <tr>
                            <th> Spotify Characteristic Model: </th> <td>coming soon</td>
                        </tr>
                    </table>
                </div>
                <br>
                <div class ='flex-child-right', id='return'>
                    <h2><a href="{{ url_for('get_song', id=id) }}" class='btn-primary' style="font-size:28pt; color: white;"> Return to Song Page </a></h2>
                </div>
            </div>
</div>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/7.0.0/mark.min.js"></script>
<script>
    function displayLyrics() {
  var x = document.getElementById("lyrics");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var checkbox = document.getElementById('postoggle');
  var instance = new Mark(document.querySelector("div"));
  var markup_positive = {{positive_words |tojson}};

  checkbox.addEventListener('change', function () {
    if (checkbox.checked) {instance.mark(markup_positive, {
    className: "pos",
    accuracy: "exactly",
    separateWordSearch: false,
}) } else {instance.unmark(markup_positive, {
    accuracy: "exactly",
    separateWordSearch: false,
}) }
  });
}); 

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      var checkbox = document.getElementById('negtoggle');
      var instance = new Mark(document.querySelector("div"));
      var markup_negative = {{negative_words |tojson}};
    
      checkbox.addEventListener('change', function () {
        if (checkbox.checked) {instance.mark(markup_negative, {
        className: "neg",
        accuracy: "exactly",
        separateWordSearch: false,
    }) } else {instance.unmark(markup_negative, {
        accuracy: "exactly",
        separateWordSearch: false,
    }) }
      });
    }); 
    
    </script>

{% endblock %}