{% extends 'base.html' %}
{% block content %}

<center>
<p>
<h1>
    <div id="lyrics">
        Coming soon!
    </div>
    <br>
    <div id='output'>
        Based on the lyrics of the song and the current predictor model, <br>
        {{song}}'s lyrics are written like a {{prediction[0]}} song.
        <!--Based on the attributes spotify has listed for the song,
        it most resembles -->
    </div>
<a href="{{ url_for('get_song', id=id) }}"> return to song </a>
</h1>
</p>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/7.0.0/mark.min.js"></script>

<script>
    var markup_target = "Coming"
    var instance = new Mark(document.querySelector("div"))
    instance.mark(markup_target);
</script>

{% endblock %}